{erl_opts, [debug_info]}.
{deps, [
    {jsx, {git, "https://github.com/talentdeficit/jsx.git", {branch, "v2.8.0"}}},
    {mysql, ".*", {git, "https://github.com/mysql-otp/mysql-otp",
                   {tag, "1.2.0"}}},
    {cowboy, {git, "git://github.com/ninenines/cowboy.git", {tag, "2.0.0-pre.5"}}}
]}.
{relx, [{release, {yatm_rel, "0.0.1"},
         [yatm, cowboy, mysql, jsx]},

        {dev_mode, true},
        {include_erts, false},
        {runtime_tools, load},
        {tools, load},
        {vm_args, "./config/vm.args"},
        {extended_start_script, true}]}.